/* about section */

/* FAQ */
.faq_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 9%;
    background: #FCEBEC;
    gap: 2rem;
}
.faq {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.question {
    width: 100%;
    cursor: pointer;
    padding: 1.4rem;
    border-radius: 0.8rem;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question img {
    width: 3rem;
    height: 3rem;
    transition: transform 0.5s ease;
}
.question span {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    line-height: 155.556%;
    font-weight: 700;
}
.ansre {
    border-radius: 0.8rem;
    background: #FF6300;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease;
}
.ansre p {
    padding: 2.4rem;
    color: #060505;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 171.429%;
    letter-spacing: 0.05rem;
}
.faq.active .ansre {
    max-height: 40rem;
    transition: max-height 0.9s ease;
}
.faq.active .question img {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
.faq_bady1{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;  
}
.faq_bady2{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;  
}
.bg_0{
    background-color: unset !important;
}
.faq_body{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
.Quality_section{
    background-color: #FCEBEC;
}
.bg-body{
    --bs-bg-opacity: 0;
}

/* read more */
.close{
   border-radius: 8px;
   background: #126291;
   width: 219px;
   height: 64px;
   color: #F9F8F9;
   font-family: Poppins;
   font-size: 22px;
   font-style: normal;
   font-weight: 600;
   justify-content: center;
}
.close:hover{
   cursor: pointer;
}
.open:hover{
   cursor: pointer;
}
.modal{     
   padding: 30px 50px;
   width: 700px;
   border: #FFF;
   box-shadow: 0 0 1em rgb(0, 0, .3);
}
.read{
   width: 19rem;
   height: 8rem;
   flex-shrink: 0;
   border-radius: 0.8rem;
   background: #094B72;
   color: #F9F8F9;
   font-family: Plus Jakarta Sans;
   font-size: 1.6rem;
   font-weight: 700;
   line-height: 140.5%;
   letter-spacing: 1.28px;
}
.modalis h2{
   font-size: 2.6rem;
   font-family:Plus Jakarta Sans;
   color: #000;
   font-weight: 700;
   line-height: 140.5%;
   letter-spacing: 1.28px;
}
.modalis p{
   font-size: 2rem;
   font-family:Poppins;
   color: #000;
}
.close{
   width: 8rem;
   height: 4rem;
   flex-shrink: 0;
   border-radius: 0.8rem;
   background: #094B72;
   color: #F9F8F9;
   font-family: Plus Jakarta Sans;
   font-size: 1.6rem;
   font-weight: 700;
   line-height: 140.5%;
   letter-spacing: 1.28px;
}
@media screen and (max-width: 767px){
    .faq_body{
        display: block;
        flex-direction: column;
    }
}
